@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vitaliy Sednev<br />
    Russia, Novosibirsk<br />
    <abbr title="Phone">P:</abbr>
    +7 (913) 466-8225
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mr.naut@gmail.com">mr.naut@gmail.com</a><br />

</address>