@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Managment</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Wellcome!</h2>
        <p>
            Welcome to Project Managment site based on ASP.NET MVC.
        </p>
        <p>
            Use top menu for navigation on @Html.ActionLink("Projects page.", "Index", "Projects")
        </p>

    </div>
</div>